@import url("https://fonts.cdnfonts.com/css/heavy-metal-blight");

canvas {
  border: 5px solid white;
  background-color: #f1f1f1;
  background-image: url(https://i.pinimg.com/736x/5b/d1/70/5bd170bb4655992be36d6034b35224fd.jpg);
  box-shadow: 0 0 5px 0 color white;
}

.balls {
  font-family: "Heavy Metal Blight", sans-serif;
  text-align: center;
  color: white;
  background: rgb(0,0,0);
background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(0,212,255,1) 52%, rgba(0, 0, 0, 0) 100%);

}

.imagery {
  margin-left: 40%;
}

.controls {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: hsl(0, 0%, 100%);
  max-width: 300px;
  margin: 0 auto;
  text-align: left;
  padding: 20px;
  background-color: #000;
  border-radius: 8px;
  border-color: white;
}
body {
  background-color: #1c2833;
}
.creator{
  color: white;
  font-family: "Lucida Console", "Courier New", monospace;
  font-size: xx-small;
  text-align: center;
}
