@import url('https://fonts.cdnfonts.com/css/heavy-metal-blight');

canvas {
    border:1px solid #d3d3d3;
    background-color: #f1f1f1;
}

.balls{
    font-family: 'Heavy Metal Blight', sans-serif;
    text-align: center;
}

